@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-dark-darker text-gray-light;
  }

  body.light {
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-primary bg-clip-text text-transparent;
  }
}
